################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmsApp/obj
/AmsApp/bin/Debug/net6.0
/AmsApp/.vs
/.vs
/AmsApp/bin/Release/net6.0
