@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Dr. Care Hospitals-Ams-@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" sizes="16x16" href="~/favicon.ico">
    <link href="~/assets/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.min.css">
    <link href="~/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <style>
        .overlay {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            background: rgba(255,255,255,0.8) url("/assets/images/loader.gif") center no-repeat;
        }
        /* Turn off scrollbar when body element has the loading class */
        body.loading {
            overflow: hidden;
        }
        /* Make spinner image visible when body element has the loading class */
        body.loading .overlay {
            display: block;
        }
    </style>
</head>
<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      @*  <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>*@
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a asp-controller="Home" asp-action="Index" class="brand-logo">
                <img class="logo-abbr" src="~/assets/images/logo.png" alt="">
                <img class="logo-compact" src="~/assets/images/logo-text.png" alt="">
                <img class="brand-title" src="~/assets/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
                                @ViewData["Title"]
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="javascript:;" role="button" data-toggle="dropdown">
                                    <img src="~/assets/images/profile/12.png" width="20" alt="" />
                                    <div class="header-info">
                                        <span><strong> @User.Claims.First(c => c.Type.Equals(AmsApp.Helpers.Constants.Strings.AMSClaimIdentifiers.EmpNameWithId)).Value</strong></span>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a asp-action="Logout" asp-controller="Login" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        @await Html.PartialAsync("_Navigation.cshtml")
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Dr. Care Hospitals</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <div class="overlay"></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/global/global.min.js"></script>
    <script src="~/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/assets/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="~/assets/js/custom.min.js"></script>
    <script src="~/assets/js/deznav-init.js"></script>
    <script src="~/assets/vendor/owl-carousel/owl.carousel.js"></script>
    <!-- Chart piety plugin files -->
    <script src="~/assets/vendor/peity/jquery.peity.min.js"></script>
    <script src="~/assets/js/plugins-init/piety-init.js"></script>
    <script src="~/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/select2/js/select2.full.min.js"></script>
    <script src="~/assets/js/plugins-init/select2-init.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js"></script>

    <script>
       // var myurl="http://localhost/AmsApp/";
      //  var myurl = "http://192.168.1.30/AmsApp/";
      //  var myurl = "http://localhost:5110/";
        var myurl = "http://app.drcareams.com/";
        // Add remove loading class on body element depending on Ajax request status
        $(document).on({
            ajaxStart: function() {
                $("body").addClass("loading");
            },
            ajaxStop: function() {
                $("body").removeClass("loading");
            }
        });

        $("span.donut").peity("donut", {
            width: "180",
            height: "180"
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
