<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="ai-icon" asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
             <li>
                <a class="ai-icon" asp-area="" asp-controller="OBCall" asp-action="Index" aria-expanded="false">
                     <i class="flaticon-381-smartphone-4"></i>
                    <span class="nav-text">OB Calling</span>
                </a>
            </li>
             <li>
                <a class="ai-icon" asp-area="" asp-controller="OBCall" asp-action="OnHold" aria-expanded="false">
                    <i class="flaticon-381-bookmark"></i>
                    <span class="nav-text">On Hold</span>
                </a>
            </li>
             <li>
                <a class="ai-icon" asp-area="" asp-controller="OBCall" asp-action="NextCallDate" aria-expanded="false">
                    <i class="flaticon-381-calendar-1"></i>
                    <span class="nav-text">Next Call Date</span>
                </a>
            </li>
        </ul>
       
    </div>
</div>