<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="ai-icon" asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
             <li>
                <a class="ai-icon" asp-area="" asp-controller="Call" asp-action="Index" aria-expanded="false">
                     <i class="flaticon-381-smartphone-4"></i>
                    <span class="nav-text">Call</span>
                </a>
            </li>
        </ul>
       
    </div>
</div>