@model AmsApp.Models.AppAppointment
<style>
    .bootstrap-select .dropdown-menu {
        width: 100%;
    }

    .bootstrap-select .dropdown-menu li small {
        white-space: normal;
    }
</style>
<div class="col-xl-12 pl-0 pr-0">
    <div class="card">
        <div class="card-header border-0 pb-0">
            <div class="mr-auto d-lg-block">
                <h4 class="mb-0">Direct Appointment</h4>
            </div>
            <div class="search-area ml-auto d-inline-flex">
                <a asp-area="" asp-controller="OBCall" asp-action="AppAppointments"><i class="fa fa-long-arrow-left"></i><b>Back</b></a>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="Name"><b>Name</b> </label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name....">
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="Gender"><b>Gender</b> </label>
                    <select class="form-control" asp-for="Gender">
                        <option value="" selected>Choose...</option>
                    </select>
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="Age"><b>Age</b> </label>
                    <input type="number" class="form-control" asp-for="Age" placeholder="Enter Age....">
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="MainDisease"><b>MainDisease</b> </label>
                    <select class="form-control" asp-for="MainDisease">
                        <option value="" selected>Choose...</option>
                    </select>
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="SubDisease"><b>SubDisease</b> </label>
                    <select class="form-control" asp-for="SubDisease">
                        <option value="" selected>Choose...</option>
                    </select>
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="ClinicBranch"><b>ClinicBranch</b> </label>
                    <select class="form-control" asp-for="ClinicBranch">
                        <option value="" selected>Choose...</option>
                    </select>
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="Location"><b>Location/Place</b> </label>
                    <input type="text" class="form-control" asp-for="Location" placeholder="Enter Location....">
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="Mobile"><b>Mobile</b> </label>
                    <input type="number" class="form-control" asp-for="Mobile" placeholder="Enter Mobile....">
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="AppointmentDate"><b>Appointment Date</b> </label>
                    <input type="datetime-local" class="form-control" asp-for="AppointmentDate" placeholder="Enter Appointment Date....">
                </div>
                <div class="col-md-12 pb-3">
                    <button type="button" id="btnSave" class="btn btn-rounded btn-primary btn-lg btn-block"><strong>Save</strong></button>
                </div>
                <div class="alert alert-danger" style="display:none;" id="alertError" name="alertError">
                    <span><label name="lblError" id="lblError"></label></span>
                </div>
                <div class="alert alert-success" style="display:none;" id="alertSuccess" name="alertSuccess">
                    <span><label name="lblSuccess" id="lblSuccess"></label></span>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Views/OBCall/AppAppointment.cshtml.js"></script>
}
