@{
    ViewData["Title"] = "Visits";
}
@{
    string dateValue = DateTime.Now.Date.ToString("yyyy'-'MM'-'dd");
}
<div class="col-xl-12">
    <div id="accordion-seven" class="accordion accordion-header-bg accordion-bordered">
        <div class="accordion__item">
            <div class="accordion__header accordion__header--primary" data-toggle="collapse" data-target="#header-bg_collapseOne">
                <span class="accordion__header--icon"><i class="fa fa-search"></i></span>
                <span class="accordion__header--text font-weight-bold">Search</span>
            </div>
            <div id="header-bg_collapseOne" class="collapse accordion__body show" data-parent="#accordion-seven">
                <div class="accordion__body--text">
                    <form id="frmSearch" name="frmSearch" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="Mobile"><b>Mobile</b></label>
                                <input type="text" class="form-control" id="Mobile" name="Mobile" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="FromDate"><b>From Date</b></label>
                                <input type="date" class="form-control" value="@dateValue" id="FromDate" name="FromDate" placeholder="dd/mm/yyyy">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="ToDate"><b>To Date</b></label>
                                <input type="date" class="form-control" value="@dateValue" id="ToDate" name="ToDate" placeholder="dd/mm/yyyy">
                            </div>
                            <div class="form-group col-md-3">
                                <br />
                                <button type="button" id="btnSearch" name="btnSearch" class="btn btn-rounded btn-primary pt-3">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <div class="basic-form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="patientlist" class="table table-responsive-md">
                                <thead>
                                    <tr>
                                        <th><strong>MOBILE</strong></th>
                                        <th><strong>NAME</strong></th>
                                        <th><strong>AGENT</strong></th>
                                        <th><strong>VISIT DATE</strong></th>
                                        <th><strong>PATIENTID</strong></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Views/OBCall/Visits.cshtml.js"></script>
}